{% extends 'Mantenimiento/base.html' %}

    {% block jumbotron %}
    {% endblock  %}

    {% block 'body' %}
    <!-- plantilla index.html -->
            {% if elerror %}
              <div class="alert alert-danger" role="alert">
                <strong>Error: </strong> No existe Sitio con el criterio de búsqueda.
              </div>
            {% endif %}


          <div class="container contain-main py-1">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="container bg-light py-3">

                      <h2 class="form-signin-heading">Buscar Sitio En Base Mantto.</h2>
                      <form method="post" action="{% url 'Mantenimiento:busqueda' %}">
                        <div class="form-row align-items-center">
                          <div class="col-auto">

                            <div class="input-group mb-2 mb-sm-0">
                              <div class="input-group-addon"><i class="material-icons md-18 md-white prefix">search</i>
                                </div>
                              {% csrf_token %}
                              {{ form.q }}
                            </div>
                          </div>
                          <div class="col-auto">

                          </div>
                          <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                          </div>
                        </div>
                      </form>
                    </div>

                    <!-- Inicia container MAIN -->
                    <div class="container bg-light container-main">

                      <div class="row pt-1">

                        <div class="col-12">


                          <h2>CORRECTIVOS</h2>

                          <table class="table table-responsive table-bordered table-sm">
                              <thead class="bg-secondary">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">ACTIVIDAD</th>
                                  <th scope="col">TIPO</th>
                                  <th scope="col">FECHA</th>
                                  <th scope="col">HORA REPORTE</th>
                                  <th scope="col">STATUS</th>
                                  <th scope="col">VALIDADO POR ATT</th>
                                  <th scope="col">NOTA</th>
                                </tr>
                              </thead>
                              <tbody>

                                      <tr>
                                        <th scope="row">1</th>
                                        <td>Suministro de diesel</td>
                                        <td>FLUIDOS</td>
                                        <td>20-ENE-2018</td>
                                        <td>16:00</td>
                                        <td><span class="badge badge-secondary">Realizada</span></td>
                                        <td><span class="badge badge-warning">Pendiente</span></td>
                                        <td>Pendiente Por: Arturo Cortés</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Cambio De Jumper</td>
                                        <td>CORRECTIVO</td>
                                        <td>18-ENE-2018</td>
                                        <td>16:00</td>
                                        <td><span class="badge badge-success">Realizada</span></td>
                                        <td>Pendiente / Aprobado</td>
                                        <td>Pendiente Por: Arturo Cortés</td>
                                      </tr>
                                <tr>
                                  <td class="text-right">
                                    <button type="button" class="btn btn-primary">Agregar Ticket</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>


                        </div><!-- /col 12 -->

                      </div><!-- /row 1 -->




                    </div> <!-- Termina container MAIN -->



                </div>



                <!-- Inicia container menu derecha -->


            </div>
        </div>
    {% endblock  %}
